.firstdiv {
  height: 65vh;
  background-color: #002347;
  background-image: url(https://i.postimg.cc/yNS3wpVV/pexels-pixabay-415078.jpg);
}

.tanccoding {
  font-size: 45px;
  color: #eeeeee;
  font-weight: 800;
  margin-left: 60px;
  margin-top: 30px;
}

.home,
.about,
.blog,
.pages,
.contact {
  color: #ebe5e9;
  text-decoration: none;
  font-size: 14px;
  font-family: "rubik", sans-serif;
  font-weight: 700;
}

.heading {
  display: flex;
  align-content: center;
  align-items: center;
}

.links {
  display: flex;
  gap: 25px;
  margin-left: 270px;
  margin-top: 30px;
}

.head1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.head1 h2 {
  color: #eeeeee;
  font-size: 40px;
  font-family: "rubik", sans-serif;
  font-weight: 600;
}

.head1 p {
  color: #eeeeee;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  margin-top: -10px;
}

/* new styling */

.oru {
  font-size: 36px;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  color: #002347;
}

.ppo {
  font-size: 16px;
  font-style: italic;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #7b838a;
  margin-top: 0;
}

.mnm {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
}

#mnm2 {
  display: flex;
  gap: 40px;
  margin-left: 45px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.img1 {
  background-color: aliceblue;
  width: 360px;
  text-align: center;
}

.dsn {
  color: white;
  font-size: 13px;
  background-color: #002347;
  padding: 10px;
  font-weight: 500;
}

.dsn:hover {
  background-color: #fdc632;
  color: #002347;
  cursor: pointer;
}

.dsn2 {
  color: #002347;
  font-size: 20px;
  font-weight: 500;
  font-family: "rubik", sans-serif;
}

.pop {
  font-family: "roboto", sans-serif;
  color: #7b838a;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.cmr {
  color: #002347;
  font-family: "roboto", sans-serif;
  margin-right: 50px;
}

.uui {
  display: flex;
  align-items: center;
}

.price {
  color: #002347;
  background-color: #fdc632;
  border-radius: 50px;
  display: flex;
  width: 65px;
  height: 65px;
  justify-content: space-around;
  align-items: center;
  font-family: "rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  margin-left: 250px;
  margin-top: -50px;
}

.img1:hover {
  box-shadow: 2px 2px 5px 2px;
  background-color: rgb(239, 250, 250);
  border-radius: 10px;
}

.prs {
  margin-left: 10px;
}

/* new styling */

.bbn {
  background-color: #002347;
  height: 100vh;
}

.reg {
  font-size: 42px;
  color: #f08888;
  font-family: "rubik", sans-serif;
  font-weight: 500;
}

.stt {
  font-size: 16px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #fff;
}

.jk {
  font-size: 36px;
  font-family: "rubik", sans-serif;
  font-weight: 500;
}

.kl {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#jkl {
  display: flex;
  align-items: baseline;
  padding-left: 80px;
  gap: 30px;
}

.skk {
  display: flex;
  align-items: baseline;
  background-color: #334f6c;
  border-radius: 10px;
  height: 100px;
  width: 140px;
  justify-content: center;
  border: 1px solid snow;
  color: #fff;
}

.skk:hover {
  background-color: lavenderblush;
  color: black;
  cursor: pointer;
}

#jjn {
  background-color: #ebe5e9;
  height: 370px;
  width: 370px;
  float: right;
  margin-top: -350px;
  margin-right: 40px;
  border-radius: 10px;
}

.vvv {
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 80px;
}

.ggb {
  margin-top: 50px;
}

.ggb h3 {
  color: #002347;
  font-size: 28px;
  font-weight: 500;
  font-family: "rubik", sans-serif;
  text-align: center;
  margin-bottom: -5px;
}

.ggb p {
  color: #002347;
  font-size: 16px;
  font-weight: 400;
  font-family: "roboto", sans-serif;
  text-align: center;
}

.frm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb {
  color: #002347;
  font-size: 20px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  background-color: #fdc632;
  padding: 15px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: center;
}

.sb:hover {
  background-color: #002347;
  color: #fdc632;
  cursor: pointer;
}

#name,
#num,
#email {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #eeeeee;
  padding: 8px;
  color: #334f6c;
}

/* new styling */

#mn2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}

.awe {
  font-family: "rubik", sans-serif;
  text-transform: uppercase;
  color: #002347;
  font-size: 36px;
  font-weight: bold;
  line-height: 30px;
}

.para {
  color: #7b838a;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  margin-top: 0px;
}

.schol {
  font-family: "rubik", sans-serif;
  font-size: 20px;
  color: #002347;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.onem {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7b838a;
  display: flex;
  justify-content: center;
}

#mn4 {
  background-color: aliceblue;
  height: 170px;
  width: 320px;
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 10px;
}

#mn4 {
  background-color: aliceblue;
  height: 170px;
  width: 320px;
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 10px;
}

.sll {
  font-family: "rubik", sans-serif;
  font-size: 20px;
  color: #002347;
  font-weight: 500;
}

.hv {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7b838a;
  margin-top: 0;
}

#mn5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 320px;
  height: 170px;
  margin-top: 50px;
  border-radius: 10px;
}

#mn4:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px;
  background-color: rgb(239, 250, 250);
}

#mn3 {
  display: flex;
  gap: 30px;
}

#mn5:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px;
  background-color: rgb(239, 250, 250);
}

#mn6 {
  height: 170px;
  width: 320px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 10px;
}

.glb {
  font-family: "rubik", sans-serif;
  font-size: 20px;
  color: #002347;
  font-weight: 500;
}

.hav {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7b838a;
  margin-top: 0;
}

#mn6:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px;
  background-color: rgb(239, 250, 250);
}

/* new styling */

.footer {
  height: 70vh;
  background-color: #002347;
  margin-top: 200px;
  display: flex;
  gap: 80px;
  padding-left: 80px;
  padding-top: 100px;
}

.footerlist h2 {
  color: #fff;
  padding-bottom: 20px;
}

.footerlist p {
  font-size: 16px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #7b838a;
}

#taskbar {
  height: 50px;
  width: 250px;
  background-color: #334f6c;
  border: none;
  border-radius: 10px;
}

.subscribe {
  display: flex;
  justify-content: flex-end;
  margin-top: -62px;
}

.subscribe h3 {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  color: #002347;
  background-color: #fdc632;
  height: 28px;
  width: 100px;
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
}

.subscribe:hover {
  cursor: pointer;
}

.footerlist p:hover {
  cursor: pointer;
  color: #eeeeee;
}

.lastheading {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin-left: -1180px;
  margin-top: 270px;
}

.lastimg {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-right: -300px;
  margin-top: -60px;
}
